<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.eason.dao.NewsMapper">
<resultMap id="newsMap" type="com.qf.eason.pojo.News">
   <id property="id" column="tb_news_id"/>
    <result property="type" column="tb_news_type"/>
    <result property="writer" column="tb_news_writer"/>
    <result property="title" column="tb_news_name"/>
    <result property="date" column="tb_news_date"/>
    <result property="text" column="tb_news_text"/>
    <result property="img" column="tb_news_img"/>
    <result property="reference" column="tb_news_reference"/>
    <result property="collect" column="tb_news_collect"/>
    <result property="forwardNumber" column="tb_news_forwarnum"/>
    <result property="reading" column="tb_news_pageview"/>
    <result property="star" column="tb_news_thumbup"/>
</resultMap>
    <select id="findHotNews" resultMap="newsMap">
        select * from tb_news order by tb_news_pageview desc,tb_news_date desc
    </select>
    <select id="findNewsByType" resultMap="newsMap">
        select * from tb_news where tb_news_type=#{type} order by tb_news_pageview desc,tb_news_date desc
    </select>

    <select id="myCollectNews" resultMap="newsMap">
        select n.* from tb_user u,tb_user_news_collect c,tb_news n where u.tb_user_id=c.tb_user_id and c.tb_news_id=n.tb_news_id and u.tb_user_id
    =#{userId} order by c.date desc,n.tb_news_pageview desc
    </select>
    <update id="addReading">
        update tb_news set tb_news_pageview=tb_news_pageview+1 where tb_news_id=#{newsId}
    </update>

    <update id="addStar">
    update tb_news set tb_news_thumbup=tb_news_thumbup+1 where tb_news_id=#{newsId}
    </update>
    <insert id="recordAddStar">
    insert into tb_user_news_thumbup(tb_user_id,tb_news_id) values(#{userId},#{newsId})
    </insert>

    <update id="addCollect">
    update tb_news set tb_news_collect=tb_news_collect+1 where tb_news_id=#{newsId}
    </update>
    <insert id="recordAddCollect">
    insert into tb_user_news_collect(tb_user_id,tb_news_id,date) values(#{userId},#{newsId},#{date})
    </insert>

    <update id="reduceCollect">
    update tb_news set tb_news_collect=tb_news_collect-1 where tb_news_id=#{newsId}
    </update>
    <delete id="recordReduceCollect">
    delete from tb_user_news_collect where tb_user_id=#{userId} and tb_news_id=#{newsId}
    </delete>

    <select id="isCollectNews" resultType="int">
        select count(tb_user_id) from tb_user_news_collect where
        <if test="userId!=0 and newsId!=0" >
            tb_user_id=#{userId} and tb_news_id=#{newsId}
        </if>
    </select>

    <select id="isGiveStar" resultType="int">
        select count(tb_user_id) from tb_user_news_thumbup where
        <if test="userId!=0 and newsId!=0" >
            tb_user_id=#{userId} and tb_news_id=#{newsId}
        </if>
    </select>
</mapper>