<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.eason.dao.OfficeTypeMapper">
    <resultMap id="officeType" type="com.qf.eason.pojo.OfficeType">
        <id column="tb_officetype_id" property="officeTypeId"></id>
        <result column="tb_office_id" property="officeId"></result>
        <result column="tb_officetype_name" property="officeTypeName"></result>
    </resultMap>
    <select id="findByName" resultMap="officeType" parameterType="String">
        select ot.tb_officetype_name FROM tb_office o,tb_officetype ot
        where o.tb_office_id=ot.tb_office_id AND o.tb_office_name=#{tb_office_name}
    </select>
</mapper>