<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.eason.dao.UserMapper">

    <resultMap id="user" type="com.qf.eason.pojo.User">
        <id column="tb_user_id" property="userId"></id>
        <result column="tb_user_nickname" property="userNickname"></result>
        <result column="tb_user_phone" property="userPhone"></result>
        <result column="tb_user_password" property="userPassword"></result>
        <result column="tb_user_img" property="userImg"></result>
    </resultMap>

    <select id="findAll" resultMap="user">
        SELECT * FROM tb_user
    </select>
    <!-- 用户登录 -->
    <select id="loadUser" resultMap="user" parameterType="user">
        select * from tb_user
        <where>
            tb_user_phone = #{userPhone} and tb_user_password = #{userPassword}
        </where>
    </select>

    <!-- 注册用户 -->
    <insert id="registerUser" parameterType="user">
        insert into tb_user (tb_user_nickname,tb_user_phone,tb_user_password)values (#{userNickname},#{userPhone},#{userPassword})
    </insert>

    <!-- 根据id查找(修改用) -->
    <select id="findById" resultMap="user" parameterType="Integer">
        select * from tb_user
        <where>
            tb_user_id = #{userId}
        </where>
    </select>

    <!-- 根据id修改用信息 -->
    <update id="updateUser">
        update tb_user set tb_user_nickname=#{userNickname},tb_user_phone=#{userPhone},tb_user_password=#{userPassword},tb_user_img=#{userImg}
        <where>
            tb_user_id = #{userId}
        </where>
    </update>

    <!-- 根据id修改用户昵称 -->
    <update id="updateNickname" parameterType="user">
        update tb_user set tb_user_nickname=#{userNickname}
        <where>
            tb_user_id = #{userId}
        </where>
    </update>

    <!-- 根据id修改用户图片 -->
    <update id="updateImg" parameterType="user">
        update tb_user set tb_user_img=#{userImg}
        <where>
            tb_user_id = #{userId}
        </where>
    </update>

    <!-- 根据id和密码(旧)修改用户密码(新) -->
    <update id="updatePassword" >
        update tb_user set tb_user_password=#{newPassWord}
        <where>
            tb_user_id = #{userId} and tb_user_password=#{userPassword}
        </where>
    </update>

    <!-- 根据id修改手机号-->
    <update id="updatePhone" parameterType="user">
        update tb_user set tb_user_phone = #{userPhone}
        <where>
            tb_user_id = #{userId}
        </where>
    </update>


<!--/**-->
<!-- * @author Jiang Jingyuan-->
<!-- * @description: -->
<!-- * @date 19-07-22 -->
<!--  * @Param: null-->
<!-- * @return -->
<!--*/-->
    <resultMap id="doctorinforMap" type="com.qf.eason.pojo.Doctorinfor">
        <id property="id" column="tb_doctorinfor_id"/>
        <result property="realaName" column="tb_doctorinfor_realname"/>
        <result property="phone" column="tb_doctorinfor_phone"/>
        <result property="email" column="tb_doctorinfor_email"/> <!--//邮箱-->
        <result property="hospital" column="tb_doctorinfor_hospital"/> <!--;//医院名称-->
        <result property="office" column="tb_doctorinfor_office"/><!--;//科室-->
        <result property="title" column="tb_doctorinfor_title"/> <!--;//职称-->
        <result property="officePhone" column="tb_doctorinfor_officephone"/> <!--;//科室电话-->
        <result property="adept" column="tb_doctorinfor_adept"/> <!--;//擅长及诊所介绍-->
        <result property="impSrc" column="tb_doctorinfor_img"/> <!--;//图片地址-->
        <result property="sendWord" column="tb_doctorinfor_sendword"/> <!--;//医生寄语-->
        <result property="hospiTaltype" column="tb_doctorinfor_hospitaltype"/><!--;//医院类型-->
        <result property="workTime" column="tb_doctorinfor_worktime"/><!-- ;//从业时间-->
        <result property="city" column="tb_doctorinfor_city"/><!--;//所在省份-->
        <result property="peopleNumint" column="tb_doctorinfor_peoplenum"/><!--//咨询人数-->
        <result property="goodRateint" column="tb_doctorinfor_goodrate"/> <!--;//好评数-->
        <result property="degreeint" column="tb_doctorinfor_degree"/><!--;//同行认可-->
        <result property="printreferint" column="tb_doctorinfor_printrefer"/><!-- ;//图片咨询人数-->
        <result property="phonereferint" column="tb_doctorinfor_phonerefer"/><!-- ;//电话咨询人数-->
        <result property="privatereferint" column="tb_doctorinfor_privaterefer"/><!-- ;//私人医生价格-->
        <result property="backyardint" column="tb_doctorinfor_backyard"/> <!--院后指导价-->
        <result property="honor" column="tb_doctorinfor_honor"/> <!--;//学术荣誉-->
    </resultMap>

    <resultMap id="doctorTopicMap" type="com.qf.eason.pojo.DoctorTopic">
        <id property="id" column="tb_doctortopic_id"/>
        <result property="name" column="tb_doctortopic_name"/>
        <result property="text" column="tb_doctortopic_text"/>
        <result property="img" column="tb_doctortopic_img"/>
        <result property="date" column="tb_doctortopic_date"/>
        <result property="reading" column="tb_doctortopic_num"/>
        <result property="star" column="tb_doctortopic_thumbup"/>
        <association property="doctorinfor" column="tb_doctortopic_dip" javaType="com.qf.eason.pojo.Doctorinfor">
            <id property="id" column="tb_doctorinfor_id"/>
            <result property="realaName" column="tb_doctorinfor_realname"/>
            <result property="phone" column="tb_doctorinfor_phone"/>
            <result property="email" column="tb_doctorinfor_email"/> <!--//邮箱-->
            <result property="hospital" column="tb_doctorinfor_hospital"/> <!--;//医院名称-->
            <result property="office" column="tb_doctorinfor_office"/><!--;//科室-->
            <result property="title" column="tb_doctorinfor_title"/> <!--;//职称-->
            <result property="officePhone" column="tb_doctorinfor_officephone"/> <!--;//科室电话-->
            <result property="adept" column="tb_doctorinfor_adept"/> <!--;//擅长及诊所介绍-->
            <result property="impSrc" column="tb_doctorinfor_img"/> <!--;//图片地址-->
            <result property="sendWord" column="tb_doctorinfor_sendword"/> <!--;//医生寄语-->
            <result property="hospiTaltype" column="tb_doctorinfor_hospitaltype"/><!--;//医院类型-->
            <result property="workTime" column="tb_doctorinfor_worktime"/><!-- ;//从业时间-->
            <result property="city" column="tb_doctorinfor_city"/><!--;//所在省份-->
            <result property="peopleNumint" column="tb_doctorinfor_peoplenum"/><!--//咨询人数-->
            <result property="goodRateint" column="tb_doctorinfor_goodrate"/> <!--;//好评数-->
            <result property="degreeint" column="tb_doctorinfor_degree"/><!--;//同行认可-->
            <result property="printreferint" column="tb_doctorinfor_printrefer"/><!-- ;//图片咨询人数-->
            <result property="phonereferint" column="tb_doctorinfor_phonerefer"/><!-- ;//电话咨询人数-->
            <result property="privatereferint" column="tb_doctorinfor_privaterefer"/><!-- ;//私人医生价格-->
            <result property="backyardint" column="tb_doctorinfor_backyard"/> <!--院后指导价-->
            <result property="honor" column="tb_doctorinfor_honor"/> <!--;//学术荣誉-->
        </association>
    </resultMap>

    <select id="isFollowDoctor" resultType="int">
        select count(tb_user_id) from tb_user_and_doctor where
        <if test="userId!=0 and doctorId!=0" >
            tb_user_id=#{userId} and tb_doctor_id=#{doctorId}
        </if>
    </select>
    <insert id="followDoctor">
        insert into tb_user_and_doctor(tb_user_id,tb_doctor_id) values
        <if test="userId!=0 and doctorId!=0" >
            (#{userId},#{doctorId})
        </if>
    </insert>
    <update id="reverseFollowDoctor" >
        delete from tb_user_and_doctor
        <if test="userId!=0 and doctorId!=0" >
            where tb_doctor_id=#{doctorId} and tb_user_id=#{userId}
        </if>
    </update>
    <select id="myDoctor" resultMap="doctorinforMap">
        select  d.* from tb_user u,tb_user_and_doctor ud,tb_doctorinfor d where u.tb_user_id= ud.tb_user_id
        and ud.tb_doctor_id= d.tb_doctorinfor_id and u.tb_user_id=#{userId}
    </select>
    <select id="myDoctorTopic" resultMap="doctorTopicMap">
        select d.*,t.* from tb_user u,tb_user_and_doctor ud,tb_doctorinfor d,tb_doctortopic t where
        u.tb_user_id=ud.tb_user_id and ud.tb_doctor_id=d.tb_doctorinfor_id and d.tb_doctorinfor_id=t.tb_doctortopic_dip and
        u.tb_user_id=#{userId} order by t.tb_doctortopic_date desc
    </select>


</mapper>